################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstApp/.vs/MyFirstApp.slnx/FileContentIndex/8b7a4454-1173-47f6-89eb-02a401432501.vsidx
/MyFirstApp/.vs/MyFirstApp.slnx/v18/.suo
